.chat {
    display: flex;
    color:white;
    font-size: x-large;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
}

.chatRow {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.username {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: auto;
    background-color: rgba(12, 12, 12);
}

.message {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgba(12, 12, 12);
}