.spotify {
	/* border-top: 0 !important;
    border-left: 0 !important; */
	/* border: 3px solid rgba(255, 0, 255, 0.5); */
	color: whitesmoke;
	font-size: 2em;
	height: 100%;
	display: flex;
}

.track_infos {
	padding: 5px 30px;
	background-color: rgba(17, 17, 17, 1);
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.5em;
}

.album {
	height: 100%;
}

.album img {
	height: calc(100% - 5%);
	display: block;
}

.track {
	font-weight: bold;
}

.artists {
	font-weight: normal;
}

.bar {
	position: relative;
	top: 0;
	width: 100%;
	height: 5%;
	background-color: rgb(127, 0, 127);
}

.barProgress {
	background-color: fuchsia;
	height: 100%;
}
